/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #61636e;
}

/* Header styles */
.main-header {
  background-color: #333;
  color: #b3b8ed;
  padding: 20px;
}

/* Navigation styles */
.main-nav {
  background-color: #8b8e9c;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav label {
  margin-right: 20px;
}

/* Search form styles */
#form {
  display: flex;
  margin-left: auto;
}

#link_id {
  border: 1px solid #ccc;
  padding: 5px;
  width: 250px;
}

#srcBtn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

/* Carousel */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  border-bottom: #333 solid 3px;
  border-top: #333 solid 3px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 500px;
}



/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Main content styles */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

#parentUl {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#parentUl li {
  border: 1px solid #ccc;
  margin: 10px;
  width: calc(33.33% - 20px);
  border-radius: 10px;
}

#parentUl li img {
  display: block;
  height: 400px;
  width: 100%;
  border-radius: 10px;
}




/* Footer section */
footer {
  border-top: #333 solid 3px;
  background-color: #42434a;
  color: #fff;
  padding: 60px 0;
  font-size: 14px;
}

footer h3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 15px;
}

footer p {
  margin-bottom: 15px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  
}

footer ul.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul.list-unstyled li {
  margin-bottom: 10px;
}

footer i.fa {
  color: #fff;
  margin-right: 10px;
}

footer hr {
  border-top-color: #aaa;
  opacity: 0.5;
}


/* Mobile styles */
@media screen and (max-width: 600px) {
  .main-nav{
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start; /* Add this line */
}

.main-nav ul {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    
}
.main-nav ul label{
  text-align: center;
  font-size: 12px;
  
}
#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
#form label{
    margin-bottom: 10px;
}
#form button{
    margin: auto;

}
  .container {
    width: 100%;
  }

  #parentUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
  }

  #parentUl li {
    flex-basis: calc(90% - 10px);
    margin: 10px;
  }

  #parentUl img {
    width: 100%;
  }

  footer .container {
    margin-top: 30px;
  }

  footer .row {
    margin-bottom: 20px;
  }

  footer .col-md-3 {
    margin-bottom: 30px;
  }

  footer hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  footer .text-right {
    text-align: center;
  }
}